fastapi==0.136.1
httpx==0.28.1
langchain==1.2.15
langchain-mcp-adapters==0.2.2
langchain-ollama==1.1.0
langgraph==1.1.9
langgraph-supervisor==0.0.31
mcp==1.27.0
mcp[cli]
pydantic==2.13.3
pymilvus==2.6.12
pymupdf4llm==1.27.2.3
python-dotenv==1.2.2
requests==2.33.1
streamlit==1.56.0
uvicorn[standard]==0.46.0